.media-container {
    height: auto;
}

#map-canvas {
    height: 100%;
    margin: 0;
    padding: 0;
}

.inline li {
    display: inline;
    padding: 1%;
}

.credPadding {
    padding-right: 10px;
}
